* {
	margin: 0;
	padding: 0;

}

.clearfix {
	clear: both;
}

html {
	position: relative;

}
.container {
	width: 1000px;
	margin: auto;
	
}

.header {
	background: #fe5f55;
	color: #bbb;
	line-height: 40px;
	margin-bottom: 10px;
}

.main-content{
	margin-bottom: 310px;
}

.intro {
	position: relative;

}

.intro .sidebar {
	width: 250px;
	min-height: 800px;
	background: #c7efcf;
	margin-right: 10px;
	float: left;
}

.intro .content {
	width: 740px;
	min-height: 800px;
	background: #eef5db;
	float: left;
}
.partner {
 overflow: hidden;
 height: 300px;
 list-style: none;
 display: inline;
 
}

.footer {
	background: #333745;
	color: #bbb;
	position: absolute;
	width: 100%;
	min-height: 300px;
	bottom: 0;
}
 