* {
  margin: 0;
  padding: 0;

}

.clearfix {
clear: both;  
}

.container {
  margin:auto;
  position: relative;
  white-space: nowrap;


}

.container .logo {
  min-width: 30%;
  display: block;
  float: left;
  position: left;

  
}

.container .ten {
  min-width: 40%;
  min-height: 150px;
  float: left;
  position: center;



}

.container .dn {
  min-width: 30%;
  min-height: 150px;
  position: right;
  
}